@media only screen and (min-width: 800px) {

    nav button {
        display: none;
    }

    section.forecast {
        display: block;
    }

  

    header h1 {
        letter-spacing: 2px;
    }


    /* Responsive table */
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 70%;
        border: 1px solid #ddd;
        margin: auto;
    }

    tr th {
       color: black;
        background-color: lightgray;
    }
    
    th,
    td {
        background-color: azure;
        text-align: center;
        padding: 8px;
    }
    
    #servicesp {
        text-align: center;
    }



    /*NAVIGATION BAR*/
    header,
    nav {
        margin: 0 auto;
        width: 90%;
    }

    .hamburger {
        display: none;
    }
    .navigation {
        background-color: black;
        overflow: hidden;
        text-align: center;
    }

    .navigation ul {
        display: flex;
        justify-content: space-around;
    }

    .navigation li {
        display: inline-block;
        margin-left: .25rem;
        padding: 8px;
    }
    .navigation a {
        display: block;
     /*   color: chartreuse;*/
        color: white;
        padding: .5rem;
        text-align: center;
        text-decoration: none;
    }

    .navigation a:hover {
        /*color: #000;
        background-color: #777;*/
        color: #6CB3CF;
    }
    
   
/** {
  box-sizing: border-box;
}

   body div div img {
  display: block;
        width: 200px;
        height: auto;
  margin-left: auto;
  margin-right: auto;
}
  body div {
        width: 90%;
      padding-left: 100px;
    }*/
    
    
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}
    
    .column img {
        padding-left: 175px;
    }
    
    h4 {
        text-align: center;
    }
    
    body div div div div ul {
        padding-right: 200px;
        padding-top: 50px;
        
    }
    
    body div div p {
        width: 90%;
        padding-left: 50px;
    }

    
    main section div p {
        margin-top: -100px;
    }
    
    #main h3, #main p, #main b a {
        text-align: center;
    }
   
    #main img {
        display: block;
        width: 400px;
        height: auto;
  margin-left: auto;
  margin-right: auto;
    }
}